@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard Light (300) */
@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* Pretendard Regular (400) */
@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Pretendard Bold (700) */
@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  @apply font-pretendard text-black bg-white;
}

h1 {
  @apply font-bold text-lg;
}
